<h3>Who</h3>
<p>Built by <a href="http://twitter.com/maxstoller">Max Stoller</a>.</p>
<h3>How</h3>
<p>It looks at NYC's public restaurant inspection dataset to see which restaurants are at risk of being closed.</p>
<h3>Accolades</h3>
<p>Student Award and Honorable Mention for Best Overall Application in the NYC BigApps 2.0 competition.</p>
<a href="http://allthingsd.com/20110225/early-adopter-think-that-restaurant-looks-shady-donteat-at-lets-you-know-for-sure/">AllThingsD</a>, <a href="http://money.cnn.com/2011/04/03/technology/bigapps_nyc/index.htm">CNN</a>, <a href="http://techland.time.com/2011/02/28/hungry-donteat-at-will-tell-you-if-that-restaurant-should-be-shut-down/">Techland</a>, <a href="http://greenz.jp/2011/02/08/donteat_at/">greenz.jp</a>, <a href="http://howto.cnet.com/8301-11310_39-20070819-285/7-fun-ways-to-interact-with-your-foursquare-account/>">CNET</a>, <a href="http://techcrunch.com/2011/03/31/nyc-bigapps-winners-roadify-sportaneous-donteat-at/">TechCrunch</a>, <a href="http://aboutfoursquare.com/donteatat/">About Foursquare</a>, <a href="http://sf.govfresh.com/bring-donteat-at-to-san-francisco-and-save-public-health-dollars/">GovFresh</a>, <a href="http://www.complex.com/tech/2011/02/steer-clear-of-bad-restaurants-with-donteatat">Complex</a>, <a href="http://socialtimes.com/donteat-at-warns-foursquare-users-of-nyc-restaurants%E2%80%99-health-code-violations_b60236">SocialTimes</a>, <a href="http://www.observer.com/2011/01/new-app-warns-you-of-restaurants-health-code-violations/">Observer</a>, <a href="http://www.foodista.com/blog/2011/05/09/donteat-at">Foodista</a>, <a href="http://eater.com/archives/2011/01/28/donteatat-warns-you-where-not-to-eat.php">Eater</a>
<p>Background photo by <a href="http://simonabrams.com/">Simon Abrams</a>.</p>
