<h1>Don't Eat at ____</h1>
<p>Get an alert when you check into a NYC restaurant that is at risk of being closed for health code violations.</p>
<a href="https://foursquare.com/oauth2/authenticate?client_id=<%= KEYS[:foursquare][:client_id] %>&response_type=code&redirect_uri=http://www.donteat.at/callback"><%= image_tag("foursquare.png") %>
<hr />
<a href="/about", class="about">About</a>
<a href="/privacy", class="about">Privacy</a>
<a href="http://twitter.com/maxstoller">@maxstoller</a>
