<h3>Privacy</h3>
<p>DontEat.at stores the following information about you:</p>
<ul>
  <li>foursquare ID</li>
  <li>Phone Number</li>
</ul>

<p>That's it. <a href="https://foursquare.com/apps/">Disconnect</a> DontEat.at and I will delete your information.</p>
